.col-md-2
{
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-10
{
    padding-left: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}